<html>
<head>
<title>Basic App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;"

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="quotes.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class='container'>
        <h1>Welcome to the QuotingDojo</h1>
        <div class='border border-dark w-75 p-3'>
            <form action='/quotes' method='post'>    
                <div class="form-group mx-auto" style="width: 700px;"> 
                    Your Name:<input type='text' placeholder="Name..." class="form-control w-50 p-3" id="name" name='name'>
                    Your Quote:<input type='text' placeholder="Quote..." class="form-control w-100 p-3" style="height: 200px;" id="quote" name='quote'>
                    <input type='submit' class='btn btn-outline-primary btn-lg d-inline' value='Add my quote!'>
                </div>
            </form>
            <a href='/quotes'><button class='btn btn-outline-primary btn-lg d-inline'>Skip to quotes!</button></a>
        </div>
    </div>
</body>
</html> 